.calendar .container{
    width: 1000px;
}

.weekdays,
.days,
.month{
    width: 100%;
}

.weekdays th{
    width: 14.285714286%;
    background-color: #eee;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 0px;
}

.week{
    height: 100px;
}

.day{
    text-align: left;
    vertical-align: top;
    width: 14.285714286%;
}

.day .header{
    height: 17px;
    background-color: #eee;
    padding: 2px;
}

.day .header .misc{
    float: left;
}

.day .header .date{
    float: right;
    font-size: 10px;
}

.event{
    padding: 2px;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: normal;
}